@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_experiment_override) {
  --mixin-511MdjXE7qA4CD_font-family: "Inter", sans-serif;
  --mixin-511MdjXE7qA4CD_font-size: 16px;
  --mixin-511MdjXE7qA4CD_font-weight: 400;
  --mixin-511MdjXE7qA4CD_font-style: normal;
  --mixin-511MdjXE7qA4CD_color: #535353;
  --mixin-511MdjXE7qA4CD_text-align: left;
  --mixin-511MdjXE7qA4CD_text-transform: none;
  --mixin-511MdjXE7qA4CD_line-height: 1.5;
  --mixin-511MdjXE7qA4CD_letter-spacing: normal;
  --mixin-511MdjXE7qA4CD_white-space: pre-wrap;
  --mixin-511MdjXE7qA4CD_user-select: text;
  --mixin-511MdjXE7qA4CD_text-decoration-line: none;
  --mixin-511MdjXE7qA4CD_text-overflow: clip;
  --mixin-M8j9Tiix13Qf6g_color: #000000;
  --mixin-M8j9Tiix13Qf6g_font-weight: 900;
  --mixin-M8j9Tiix13Qf6g_font-size: 72px;
  --mixin-M8j9Tiix13Qf6g_line-height: 1;
  --mixin-M8j9Tiix13Qf6g_letter-spacing: -4px;
  --mixin-M8j9Tiix13Qf6g_white-space: pre-wrap;
  --mixin-9Ngbv3JA_oWk8P_color: #000000;
  --mixin-9Ngbv3JA_oWk8P_font-size: 48px;
  --mixin-9Ngbv3JA_oWk8P_font-weight: 700;
  --mixin-9Ngbv3JA_oWk8P_letter-spacing: -1px;
  --mixin-9Ngbv3JA_oWk8P_line-height: 1.1;
  --mixin-9Ngbv3JA_oWk8P_white-space: pre-wrap;
  --mixin-TMnU53X4Xjzolx_color: #0070f3;
  --mixin-TMnU53X4Xjzolx_white-space: pre-wrap;
  --mixin-UrxVppPDVvodFX_color: #000000;
  --mixin-UrxVppPDVvodFX_font-size: 32px;
  --mixin-UrxVppPDVvodFX_font-weight: 600;
  --mixin-UrxVppPDVvodFX_letter-spacing: -0.8px;
  --mixin-UrxVppPDVvodFX_line-height: 1.2;
  --mixin-UrxVppPDVvodFX_white-space: pre-wrap;
  --mixin-FA5NaDqxOZXaSQ_color: #000000;
  --mixin-FA5NaDqxOZXaSQ_font-size: 24px;
  --mixin-FA5NaDqxOZXaSQ_font-weight: 600;
  --mixin-FA5NaDqxOZXaSQ_letter-spacing: -0.5px;
  --mixin-FA5NaDqxOZXaSQ_line-height: 1.3;
  --mixin-FA5NaDqxOZXaSQ_white-space: pre-wrap;
  --mixin-66qeZZ7TXdTDvU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-66qeZZ7TXdTDvU_border-bottom-color: #dddddd;
  --mixin-66qeZZ7TXdTDvU_border-bottom-style: solid;
  --mixin-66qeZZ7TXdTDvU_border-bottom-width: 1px;
  --mixin-66qeZZ7TXdTDvU_border-left-color: #dddddd;
  --mixin-66qeZZ7TXdTDvU_border-left-style: solid;
  --mixin-66qeZZ7TXdTDvU_border-left-width: 1px;
  --mixin-66qeZZ7TXdTDvU_border-right-color: #dddddd;
  --mixin-66qeZZ7TXdTDvU_border-right-style: solid;
  --mixin-66qeZZ7TXdTDvU_border-right-width: 1px;
  --mixin-66qeZZ7TXdTDvU_border-top-color: #dddddd;
  --mixin-66qeZZ7TXdTDvU_border-top-style: solid;
  --mixin-66qeZZ7TXdTDvU_border-top-width: 1px;
  --mixin-66qeZZ7TXdTDvU_border-bottom-left-radius: 3px;
  --mixin-66qeZZ7TXdTDvU_border-bottom-right-radius: 3px;
  --mixin-66qeZZ7TXdTDvU_border-top-left-radius: 3px;
  --mixin-66qeZZ7TXdTDvU_border-top-right-radius: 3px;
  --mixin-66qeZZ7TXdTDvU_font-family: "Inconsolata";
  --mixin-66qeZZ7TXdTDvU_padding-bottom: 1px;
  --mixin-66qeZZ7TXdTDvU_padding-left: 4px;
  --mixin-66qeZZ7TXdTDvU_padding-right: 4px;
  --mixin-66qeZZ7TXdTDvU_padding-top: 1px;
  --mixin-66qeZZ7TXdTDvU_white-space: pre-wrap;
  --mixin-pag_mGAkRPu-I6_border-left-color: #dddddd;
  --mixin-pag_mGAkRPu-I6_border-left-style: solid;
  --mixin-pag_mGAkRPu-I6_border-left-width: 3px;
  --mixin-pag_mGAkRPu-I6_color: #888888;
  --mixin-pag_mGAkRPu-I6_padding-left: 10px;
  --mixin-pag_mGAkRPu-I6_white-space: pre-wrap;
  --mixin-yuhWMkivZZquV3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-yuhWMkivZZquV3_border-bottom-color: #dddddd;
  --mixin-yuhWMkivZZquV3_border-bottom-style: solid;
  --mixin-yuhWMkivZZquV3_border-bottom-width: 1px;
  --mixin-yuhWMkivZZquV3_border-left-color: #dddddd;
  --mixin-yuhWMkivZZquV3_border-left-style: solid;
  --mixin-yuhWMkivZZquV3_border-left-width: 1px;
  --mixin-yuhWMkivZZquV3_border-right-color: #dddddd;
  --mixin-yuhWMkivZZquV3_border-right-style: solid;
  --mixin-yuhWMkivZZquV3_border-right-width: 1px;
  --mixin-yuhWMkivZZquV3_border-top-color: #dddddd;
  --mixin-yuhWMkivZZquV3_border-top-style: solid;
  --mixin-yuhWMkivZZquV3_border-top-width: 1px;
  --mixin-yuhWMkivZZquV3_border-bottom-left-radius: 3px;
  --mixin-yuhWMkivZZquV3_border-bottom-right-radius: 3px;
  --mixin-yuhWMkivZZquV3_border-top-left-radius: 3px;
  --mixin-yuhWMkivZZquV3_border-top-right-radius: 3px;
  --mixin-yuhWMkivZZquV3_font-family: "Inconsolata";
  --mixin-yuhWMkivZZquV3_padding-bottom: 3px;
  --mixin-yuhWMkivZZquV3_padding-left: 6px;
  --mixin-yuhWMkivZZquV3_padding-right: 6px;
  --mixin-yuhWMkivZZquV3_padding-top: 3px;
  --mixin-yuhWMkivZZquV3_white-space: pre-wrap;
  --mixin-aKVLOCxBQfaZfx_display: flex;
  --mixin-aKVLOCxBQfaZfx_flex-direction: column;
  --mixin-aKVLOCxBQfaZfx_align-items: stretch;
  --mixin-aKVLOCxBQfaZfx_justify-content: flex-start;
  --mixin-aKVLOCxBQfaZfx_list-style-position: outside;
  --mixin-aKVLOCxBQfaZfx_padding-left: 40px;
  --mixin-aKVLOCxBQfaZfx_position: relative;
  --mixin-aKVLOCxBQfaZfx_list-style-type: disc;
  --mixin-aKVLOCxBQfaZfx_white-space: pre-wrap;
  --mixin-WdsBN2wYs5nOJh_display: flex;
  --mixin-WdsBN2wYs5nOJh_flex-direction: column;
  --mixin-WdsBN2wYs5nOJh_align-items: stretch;
  --mixin-WdsBN2wYs5nOJh_justify-content: flex-start;
  --mixin-WdsBN2wYs5nOJh_list-style-position: outside;
  --mixin-WdsBN2wYs5nOJh_padding-left: 40px;
  --mixin-WdsBN2wYs5nOJh_position: relative;
  --mixin-WdsBN2wYs5nOJh_list-style-type: decimal;
  --mixin-WdsBN2wYs5nOJh_white-space: pre-wrap;
  --mixin-ZAfTdtehn0vpHB_color: #000000;
  --mixin-ZAfTdtehn0vpHB_font-size: 20px;
  --mixin-ZAfTdtehn0vpHB_font-weight: 600;
  --mixin-ZAfTdtehn0vpHB_letter-spacing: -0.3px;
  --mixin-ZAfTdtehn0vpHB_line-height: 1.5;
  --mixin-ZAfTdtehn0vpHB_white-space: pre-wrap;
  --mixin-SMqOW69GKNMtYh_color: #000000;
  --mixin-SMqOW69GKNMtYh_font-size: 16px;
  --mixin-SMqOW69GKNMtYh_font-weight: 600;
  --mixin-SMqOW69GKNMtYh_line-height: 1.5;
  --mixin-SMqOW69GKNMtYh_white-space: pre-wrap;
  --mixin-liA8JgDOxdyD2y_color: #3291ff;
  --mixin-liA8JgDOxdyD2y_white-space: pre-wrap;
  --mixin-7ltcpeHqFR-xdg_white-space: pre-wrap;
  --mixin-9B_vyigiuBv-YI_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-511MdjXE7qA4CD_font-family);
  font-size: var(--mixin-511MdjXE7qA4CD_font-size);
  font-weight: var(--mixin-511MdjXE7qA4CD_font-weight);
  font-style: var(--mixin-511MdjXE7qA4CD_font-style);
  color: var(--mixin-511MdjXE7qA4CD_color);
  text-align: var(--mixin-511MdjXE7qA4CD_text-align);
  text-transform: var(--mixin-511MdjXE7qA4CD_text-transform);
  line-height: var(--mixin-511MdjXE7qA4CD_line-height);
  letter-spacing: var(--mixin-511MdjXE7qA4CD_letter-spacing);
  white-space: var(--mixin-511MdjXE7qA4CD_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-M8j9Tiix13Qf6g_color);
  font-weight: var(--mixin-M8j9Tiix13Qf6g_font-weight);
  font-size: var(--mixin-M8j9Tiix13Qf6g_font-size);
  line-height: var(--mixin-M8j9Tiix13Qf6g_line-height);
  letter-spacing: var(--mixin-M8j9Tiix13Qf6g_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-9Ngbv3JA_oWk8P_color);
  font-size: var(--mixin-9Ngbv3JA_oWk8P_font-size);
  font-weight: var(--mixin-9Ngbv3JA_oWk8P_font-weight);
  letter-spacing: var(--mixin-9Ngbv3JA_oWk8P_letter-spacing);
  line-height: var(--mixin-9Ngbv3JA_oWk8P_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-TMnU53X4Xjzolx_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UrxVppPDVvodFX_color);
  font-size: var(--mixin-UrxVppPDVvodFX_font-size);
  font-weight: var(--mixin-UrxVppPDVvodFX_font-weight);
  letter-spacing: var(--mixin-UrxVppPDVvodFX_letter-spacing);
  line-height: var(--mixin-UrxVppPDVvodFX_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-FA5NaDqxOZXaSQ_color);
  font-size: var(--mixin-FA5NaDqxOZXaSQ_font-size);
  font-weight: var(--mixin-FA5NaDqxOZXaSQ_font-weight);
  letter-spacing: var(--mixin-FA5NaDqxOZXaSQ_letter-spacing);
  line-height: var(--mixin-FA5NaDqxOZXaSQ_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-66qeZZ7TXdTDvU_font-family);
  border-radius: var(--mixin-66qeZZ7TXdTDvU_border-top-left-radius)
    var(--mixin-66qeZZ7TXdTDvU_border-top-right-radius)
    var(--mixin-66qeZZ7TXdTDvU_border-bottom-right-radius)
    var(--mixin-66qeZZ7TXdTDvU_border-bottom-left-radius);
  padding: var(--mixin-66qeZZ7TXdTDvU_padding-top)
    var(--mixin-66qeZZ7TXdTDvU_padding-right)
    var(--mixin-66qeZZ7TXdTDvU_padding-bottom)
    var(--mixin-66qeZZ7TXdTDvU_padding-left);
  border-top: var(--mixin-66qeZZ7TXdTDvU_border-top-width)
    var(--mixin-66qeZZ7TXdTDvU_border-top-style)
    var(--mixin-66qeZZ7TXdTDvU_border-top-color);
  border-right: var(--mixin-66qeZZ7TXdTDvU_border-right-width)
    var(--mixin-66qeZZ7TXdTDvU_border-right-style)
    var(--mixin-66qeZZ7TXdTDvU_border-right-color);
  border-bottom: var(--mixin-66qeZZ7TXdTDvU_border-bottom-width)
    var(--mixin-66qeZZ7TXdTDvU_border-bottom-style)
    var(--mixin-66qeZZ7TXdTDvU_border-bottom-color);
  border-left: var(--mixin-66qeZZ7TXdTDvU_border-left-width)
    var(--mixin-66qeZZ7TXdTDvU_border-left-style)
    var(--mixin-66qeZZ7TXdTDvU_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-pag_mGAkRPu-I6_color);
  padding-left: var(--mixin-pag_mGAkRPu-I6_padding-left);
  border-left: var(--mixin-pag_mGAkRPu-I6_border-left-width)
    var(--mixin-pag_mGAkRPu-I6_border-left-style)
    var(--mixin-pag_mGAkRPu-I6_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-yuhWMkivZZquV3_font-family);
  border-radius: var(--mixin-yuhWMkivZZquV3_border-top-left-radius)
    var(--mixin-yuhWMkivZZquV3_border-top-right-radius)
    var(--mixin-yuhWMkivZZquV3_border-bottom-right-radius)
    var(--mixin-yuhWMkivZZquV3_border-bottom-left-radius);
  padding: var(--mixin-yuhWMkivZZquV3_padding-top)
    var(--mixin-yuhWMkivZZquV3_padding-right)
    var(--mixin-yuhWMkivZZquV3_padding-bottom)
    var(--mixin-yuhWMkivZZquV3_padding-left);
  border-top: var(--mixin-yuhWMkivZZquV3_border-top-width)
    var(--mixin-yuhWMkivZZquV3_border-top-style)
    var(--mixin-yuhWMkivZZquV3_border-top-color);
  border-right: var(--mixin-yuhWMkivZZquV3_border-right-width)
    var(--mixin-yuhWMkivZZquV3_border-right-style)
    var(--mixin-yuhWMkivZZquV3_border-right-color);
  border-bottom: var(--mixin-yuhWMkivZZquV3_border-bottom-width)
    var(--mixin-yuhWMkivZZquV3_border-bottom-style)
    var(--mixin-yuhWMkivZZquV3_border-bottom-color);
  border-left: var(--mixin-yuhWMkivZZquV3_border-left-width)
    var(--mixin-yuhWMkivZZquV3_border-left-style)
    var(--mixin-yuhWMkivZZquV3_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-aKVLOCxBQfaZfx_display);
  flex-direction: var(--mixin-aKVLOCxBQfaZfx_flex-direction);
  align-items: var(--mixin-aKVLOCxBQfaZfx_align-items);
  justify-content: var(--mixin-aKVLOCxBQfaZfx_justify-content);
  list-style-position: var(--mixin-aKVLOCxBQfaZfx_list-style-position);
  padding-left: var(--mixin-aKVLOCxBQfaZfx_padding-left);
  position: var(--mixin-aKVLOCxBQfaZfx_position);
  list-style-type: var(--mixin-aKVLOCxBQfaZfx_list-style-type);
  flex-column-gap: var(--mixin-aKVLOCxBQfaZfx_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-WdsBN2wYs5nOJh_display);
  flex-direction: var(--mixin-WdsBN2wYs5nOJh_flex-direction);
  align-items: var(--mixin-WdsBN2wYs5nOJh_align-items);
  justify-content: var(--mixin-WdsBN2wYs5nOJh_justify-content);
  list-style-position: var(--mixin-WdsBN2wYs5nOJh_list-style-position);
  padding-left: var(--mixin-WdsBN2wYs5nOJh_padding-left);
  position: var(--mixin-WdsBN2wYs5nOJh_position);
  list-style-type: var(--mixin-WdsBN2wYs5nOJh_list-style-type);
  flex-column-gap: var(--mixin-WdsBN2wYs5nOJh_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-ZAfTdtehn0vpHB_color);
  font-size: var(--mixin-ZAfTdtehn0vpHB_font-size);
  font-weight: var(--mixin-ZAfTdtehn0vpHB_font-weight);
  letter-spacing: var(--mixin-ZAfTdtehn0vpHB_letter-spacing);
  line-height: var(--mixin-ZAfTdtehn0vpHB_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-SMqOW69GKNMtYh_color);
  font-size: var(--mixin-SMqOW69GKNMtYh_font-size);
  font-weight: var(--mixin-SMqOW69GKNMtYh_font-weight);
  line-height: var(--mixin-SMqOW69GKNMtYh_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-liA8JgDOxdyD2y_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
